body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url(background.jpg.jpg);
}

header {
    background: rgb(22, 22, 202);
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background: rgb(22, 22, 202);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product {
    background: white;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    transition: transform .3s;
}

.product:hover {
    transform: scale(1.05);
    color: green;
}

button {
    padding: 8px 12px;
    cursor: pointer;
}
button:hover {
color: greenyellow;
}

.dark {
    background: rgb(58, 54, 54);
    color:rgb(136, 84, 84);
}

footer {
    background: blue;
    color: rgb(73, 56, 56);
    text-align: left;
    padding: 10px;
}